<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}} <small>({{profile.login}})</small>
     <span *ngIf = "profile.company">works at{{profile.company}}. </span> Has
      {{profile.followers}} followers.
    </div>
    <div class="panel body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile image">
        </div>
        <div class="col-sm-5">
          <ul class="list group">
            <li class="list-group-items" *ngIf=profile.bio>{{profile.bio}}</li><li class="list-group-items" *ngIf=profile.hireable>{{profile.hireable}}Available for hire.</li>
            <li class="list-group-items" *ngIf=profile.repos_url><a href="{{profile.repos_url}}" target="_blank"></a></li>
            <li class="list-group-items" *ngIf=profile.email><a href="emailto:{{profile.email}}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
